**/fonts/**/style.css
**/jquery-3.6.0.min.js
**/jquery-3.6.0.min.js.map
**/swiper.min.js
**/swiper.min.js.map
**/swiper.min.css
**/rangeslider.min.js
**/rangeslider.css
**/highcharts.js
**/highcharts.js.map
**/wcms-data-board-legacy.css
**/wcms-data-card-detail-legacy.css
**/wcms-data-clause-legacy.css
**/wcms-data-event-legacy.css
**/wcms-data-vip-event-legacy.css
**/highlightjs/
**/codemirror/